$black: #000;
$hero-height-mobile: 26.4rem;
$hero-height-desktop: 45.4rem;
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section {
    overflow: hidden;
    margin-bottom: .2rem;
}
.hero {
    position: relative;
    border: .2rem solid $black;
    text-transform: uppercase;
}
.hero__image {
    max-height: $hero-height-mobile;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    min-height: 100%;
}

.hero__text {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: $hero-height-mobile;
    font-size: 2rem;
}
.links,
.articles {
    width: calc(50% - .1rem);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: $black;
    }
}
.links__item-title,
.article__title {
    text-transform: uppercase;
}
.links__item,
.article__title,
.article__image {
    border: .2rem solid $black;
}
.article__title,
.links__item {
    padding: 1rem;
}
.article__image {
    width: 100%;
    max-height: 5rem;
}
.article,
.links__item {
    margin-bottom: .2rem;
}
.links__item {
    display: flex;
    justify-content: space-between;
}
.links__item-content {
    display: none;
}

@media all and (min-width: 768px) {
    .main {
        .hero,
        .articles {
            width: calc(60% - .1rem);
        }
        .hero__image {
            max-height: $hero-height-desktop;
        }
        .hero__text {
            line-height: $hero-height-desktop;
        }
        .links {
            width: calc(40% - .1rem);
        }
        .articles {
            order: 1;
        }
        .article__image {
            max-height: 12rem;
        }
        .article__title {
            padding: 1rem 1rem 5rem;
        }
        .links__item {
            display: block;
        }
        .links__item-content {
            display: flex;
            margin-top: 1rem;
        }
        .links__item-content img {
            margin-right: 1rem;
        }
        .links__item-link {
            display: none;
        }
    }
}
