$black: #000;
$white: #fff;

.navigation {
    position: sticky;
    top: 0;
    text-transform: uppercase;
    border: .2rem solid $black;
    font-size: 1.4rem;
    padding: 2.7rem 1.3rem;
    margin-bottom: .2rem;
    background: #fff;
    z-index: 10;
    .mobile-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.navigation label,
.navigation li {
    cursor: pointer;
}
.navigation input,
.navigation ul {
    display: none;
}
.navigation__menu-trigger:checked + ul {
    position: absolute;
    right: 1.3rem;
    top: 4rem;
    list-style: none;
    display: block;
}
.navigation__menu-item {
    background: #000;
    min-width: 9.1rem;
    padding: 1rem;
    color: $white;
    text-align: center;
}
@media all and (min-width: 768px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        ul {
            display: block;
        }
        li {
            display: inline-block;
            background: $white;
            color: $black;
        }
        label {
            display: none;
        }
    }
}
